.cardsparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  background: #000;
}

.btn {
  background: #1a1a1a;
  padding: 8px 25px;
  border-radius: 10px;
  color: white;
  border: 1px solid #333;
  cursor: pointer;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  background: white;
  color: black;
  transform: translateY(-2px);
}
